*~
.*~
.deps/
.libs/
ChangeLog
INSTALL
Makefile
Makefile.in
\#*
aclocal.m4
autom4te.cache
build-aux
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
pam_yubico.la
pam_yubico_la-pam_yubico.lo
pam_yubico_la-util.lo
test
test.o
ykpamcfg
