*~
.*~
.deps/
.libs/
ChangeLog
INSTALL
Makefile
Makefile.in
\#*
aclocal.m4
autom4te.cache
build-aux
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
pam_yubico-*.tar.gz
pam_yubico-*.tar.gz.sig
test-suite.log
test.log
test.trs
pam_yubico.8
ykpamcfg.1
drop_privs.lo
libpam_util.la
pam_yubico.la
pam_yubico.lo
tests/test
tests/test.o
util.lo
ykpamcfg
ykpamcfg.o
