*~
.*~
.deps/
.libs/
ChangeLog
INSTALL
Makefile
Makefile.in
\#*
aclocal.m4
autom4te.cache
build-aux
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
pam_yubico-*.tar.gz
pam_yubico.la
pam_yubico_la-pam_yubico.lo
pam_yubico_la-util.lo
test
test.o
ykpamcfg
ykpamcfg-util.o
ykpamcfg-ykpamcfg.o
